* {
    margin: 0;
    scroll-behavior: smooth;
    text-align: justify;
}

main p {
    font-size: 18px;
    margin: 9px;
}

nav {
    position: fixed;
    height: 100%;
    border-right: solid grey;
    background-color: #fffefe;
}

header {
    font-size: 30px;
    border-bottom: 2px rgb(0, 0, 0) solid;
    padding: 30px;
}

ul {
    padding: 0;
}

.list_1 {
    overflow: hidden;
}

#navbar li {
    list-style: none;
    border-top: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    position: relative;
    width: 100%;
}

#ultimo {
    border-bottom: 2px solid rgb(0, 0, 0);
}

#ult-2 {
    display: none;
}

nav a {
    display: block;
    font-size: 20px;
    padding: 15px 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    background-color: rgb(240, 255, 255);
}

main {
    text-decoration: none;
    width: auto;
    margin-left: 300px;
    margin-right: 10px;
    margin-bottom: 15px;
    position: relative;
    background-color: #fffefe;
}

.destaque-1 {
    font-size: 20px;
    font-weight: 900;
}

figure img {
    display: flex;
    margin: 15px auto;
}

.exemplo {
    width: 40%;
}

#img_1 {
    width: 30%;
}

#img_8 {
    width: 25%;
}

#img_12 {
    width: 30%;
}

h2 {
    font-size: 28px;
}

.reed {
    color: red;
}

.list2 {
    margin-top: 8px;
    list-style-position: inside;
    list-style-type: none;
    margin-left: 25PX;
}

.list2 li {
    font-size: 18px;
    margin: 8px;
}

.spam_list_2 {
    font-weight: 800;
    font-size: 18px;
}

.alerta {
    font-size: 14px;
    color: brown;
    width: 76%;
    display: flex;
    margin: 0 auto;
    text-align: center;
}

.destaque_2 {
    font-weight: 900;
    color: #610404ab;
}

.destaque_3 {
    font-weight: 900;
    font-size: 22px;
    color: #610404ab;
}

.destaque_4 {
    font-weight: 900;
    font-size: 20px;
    color: #610404ab;
}

.list-3 {
    margin-top: 8px;
    list-style-position: inside;
    list-style-type: none;
    margin-left: 25PX;
}

.list-3>li {
    list-style-position: inside;
    list-style-type: none;
}

#rodape {
    background-color: #fffdfd;
    border-top: solid rgb(128, 128, 128);
    width: 100%;
    padding: 15px 0;
    position: relative;
}

.txt-rodape {
    width: 100%;
    margin: 0 auto;
}

.txt-rodape p {
    text-align: center;
}

.links-rodape {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

button {
    background-color: transparent;
    border: none;
    font-size: 35px;
    position: absolute;
    display: none;
}

button:focus~.list_1 {
    height: 100%;
}

@media (max-width: 700px) {
    body{
        display: inline;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        height: 50px;
        width: 100%;
        background-color: #fffefe;
    }

    nav {
        background: transparent;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        z-index: 2;
    }

    ul a {
        text-align: center;
    }

    .list_1 {
        height: 0;
        background-color: #fffefe;
        margin-top: 110px;
    }

    button {
        display: flex;
        font-size: 60px;
        align-items: center;
    }

    button:hover {
        background-color: rgb(240, 255, 255);
    }

    main {
        top: 120px;
        margin: 0 auto;
        height: auto;
        width: 80%;
        margin-bottom: 14vh;
        z-index: 1;
    }

    .exemplo {
        width: 100%;
        object-fit: cover;
    }
    #img_1, #img_8, #img_12{
        width: 75vw;
    }

    #rodape {
        width: 100%;
        height: 7vh;
        margin-bottom: 0;
        bottom: 0; 

    }
}